body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s;
    cursor: pointer;
}

img:hover {
    transform: scale(1.05);
    border: #9b9b9b solid 2px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 60%;
    max-height: 60%;
    border-radius: 8px;
}

.modal img:hover {
    max-width: 90%;
    max-height: 90%;
    border-radius: 0px;
    transition: all 1s;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}